<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EssatJpa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Principale</display-name>
    <servlet-name>Principale</servlet-name>
    <servlet-class>tn.essat.controller.Principale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Principale</servlet-name>
    <url-pattern>/Principale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Principale1</display-name>
    <servlet-name>Principale1</servlet-name>
    <servlet-class>tn.essat.controller.Principale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Principale1</servlet-name>
    <url-pattern>/Principale1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>tn.essat.controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifier</display-name>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>tn.essat.controller.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/Modifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajout_livre</display-name>
    <servlet-name>Ajout_livre</servlet-name>
    <servlet-class>tn.essat.controller.Ajout_livre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajout_livre</servlet-name>
    <url-pattern>/Ajout_livre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>tn.essat.controller.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
</web-app>